h2{
    color: rgb(104, 230, 20);
    text-align: center
}


div{
    width: 300px;
    height: 300px;
    background-image:   url(../image/OIP.jpg);
    background-repeat: no-repeat;
    background-size: 300px autopx;
    background-attachment: fixed;
    background-position: left;

}

body{
    background: rgb(224, 13, 13) url('../image/OIP.jpg') no-repeat top center / 200px auto;
}
