h2{
    color: red;
    text-align: center
}
body{
    background-color: rgb(200,100,100)
}

body{
    background-image: url(../image/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-position: right;
}

div{
    width: 300px;
    height: 300px;
    background-image:   url(../image/OIP.jpg);
    background-repeat: no-repeat;
    background-size: 300px autopx;
    background-attachment: fixed;
    background-position: top left;

}

body{
    background: #0000 url('../image/OIP.jpg') no-repeat top center / 200px auto;
}
