h2{
    color: red;
    text-align: center
}
body{
    background-color: rgb(200,100,100)
}

body{
    background-image: url(../image/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height:auto;
    width: 200;
}

p{
    font-size: 15px;
    color:yellow;
}
